.notification-header{
    height: 30rem;
    /* background-color: #00364E; */
}


.video-notification{
    height: 100%;
    width: 100%;
    background-color: #00374ee0;
}
.notification-header video{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    /* border: 2px solid red; */
    position: relative;
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    z-index: -1;
}




.notification-content{
    /* border: 2px solid red; */
    margin-top: -20rem;
    padding: 8rem 0rem;
}
.notification-container{
    /* border: 2px solid brown; */
    width: 80%;
    margin: auto;
}
.article-notification-article{
    /* border: 2px solid cyan; */
    box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.1);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    border-radius: 10px;
    background: #fff;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* padding-left: 8rem;
    padding-right: 8rem; */

}
.article-notification-article-inside{
    /* border: 2px solid salmon; */
    width: 90%;
    margin: auto;
    overflow-x: auto;
}
.article-notification-article-inside img{
    max-width: 100%;
    /* border: 2px solid red; */
    max-height: 80rem;
    object-fit: cover;
    
}
.article-notification-article-inside table{
    max-width: 100%;
    /* object-fit: cover; */
    
}


.notification-headline-div{
    /* border: 2px solid salmon; */
    text-align: center;
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    background: #fff;
    border-radius: 10px;
}
.notification-headline{
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2rem;
    color: #00364E;
}
.notification-date{
    font-size: 1.4rem;
    font-weight: 500;
    color: #EAD917;
}
.hr-notification{
    margin-top: 5rem;
    border: none;
    height: 1px;
    background: rgba(223, 223, 223, 0.7);
    margin-bottom: 5rem;
}
.notification-main{
    font-size: 1.6rem;
    /* border: 2px solid yellow; */
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}






.article-notification-article thead tr {
    background-color: #00364E;
    color: #ffffff;
    /* text-align: left; */
    font-weight: bold;
}

.article-notification-article th,
.article-notification-article td {
    /* padding: 1.2rem 3.5rem; */
    padding: 1.2rem 1.5rem;
    /* border: 2px solid yellowgreen; */
}

.article-notification-article tbody tr {
border-bottom: 1px solid #dddddd;
}

.article-notification-article tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.article-notification-article tbody tr:last-of-type {
border-bottom: 2px solid #00364E;
}


/* ############################# Laptop- 1024px media query  */

@media all and (max-width : 1024px) {
    /* body{
        background-color: azure;
    } */
    
    .notification-container{
        width: 80%;
    }
}



/* ############################# Tablet- 768px media query  */

@media all and (max-width : 768px) {
    /* body{
        background-color: azure;
    } */
    
    .notification-container{
        width: 85%;
    }
}



/* ############################# Mobile Phones- 500px media query  */

@media all and (max-width : 500px) {
    /* body{
        background-color: burlywood;
    } */
    
    .notification-container{
        width: 100%;
    }
}


/* ############################# Mobile Phones- 434px media query  */

@media all and (max-width : 434px) {
    /* body{
        background-color: blueviolet;
    } */
    
    .notification-container{
        width: 100%;
    }
    .article-notification-article-inside{
        width: 90%;
    }
}
