{% extends "base.html" %}





{% load static %}

{% block extra_head_content  %}
    <link rel="stylesheet" href="{% static 'css/online-section.css' %}">

{% endblock %}


{% block content %}


<div class="online-section-heading">
    <div class="container">
        <h1 class="online-section-h1 font-garamond">Online Section</h1>
    </div>
</div>

<section class="body-onlinesection">
    <section class="hero-section">
        <div class="card-grid">
            {% if onlinesections %}
            {% for onlinesection in onlinesections %}
                {% if onlinesection.url %}
                    <a class="card-online-section" href="{{ onlinesection.url }}">
                        <div class="card__background" style="background-image: url('{{ onlinesection.image.url }}');"></div>
                        <div class="card__content">
                            <p class="card__category"></p>
                            <h3 class="card__heading">{{ onlinesection.title }}</h3>
                        </div>
                    </a>
                {% else %}
                    <a class="card-online-section" href="section/{{ onlinesection.id }}">
                        <div class="card__background" style="background-image: url('{{ onlinesection.image.url }}');"></div>
                        <div class="card__content">
                        <p class="card__category"></p>
                        <h3 class="card__heading">{{ onlinesection.title }}</h3>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
            {% endif %}
<!--         
            <a class="card-online-section" href="#">
                <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
                <div class="card__content">
                <p class="card__category">Category</p>
                <h3 class="card__heading">Example Card Heading</h3>
                </div>
            </a>
        
            <a class="card-online-section" href="#">
                <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
                <div class="card__content">
                <p class="card__category">Category</p>
                <h3 class="card__heading">Example Card Heading</h3>
                </div>
            </a>
        
            <a class="card-online-section" href="#">
                <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
                <div class="card__content">
                <p class="card__category">Category</p>
                <h3 class="card__heading">Example Card Heading</h3>
                </div>
            </a>
         -->
        <div>
    </section>
</section>


{% endblock content %}

